* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins';
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body {
	background-color: whitesmoke;
}
.everything {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.titleWrapper{
	background-color: blueviolet;
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 3rem;
	font-weight: 700;
	color: aliceblue;
	letter-spacing: .1rem;
}
.prediction {
	width: 100%;
	display: flex;
	background-color: rgb(140, 235, 117);
	margin-top: .4rem;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;

	
}
.Presult {
	background-color: greenyellow;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
}

.Pallet{
	background-color: blueviolet;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: .5rem;
}
.buttonArea{
	/* background: yellow; */
	width: 50vw;
	display: flex;
	justify-content: center;
	margin-bottom: .4rem;
}
.buttonArea button{
	border-style: none;
	padding:.5rem ;
	margin-right: .5rem;
	border-radius: .3rem;
	color: aliceblue;
}
.clearBTN {
	background: red;
}
.boundingBTN{
	background: green;

}

.sliderArea{
	background: rgb(36, 149, 184);
	width: 40vw;
	display: flex;
	justify-content: space-evenly;
	padding: .5rem;
	border-radius: .5rem;
}
.sliderArea div{
	font-weight: 100;
	font-size: .9rem;
}
.slider{
-webkit-appearance: none;
  width: 50%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}